---
---

<div class="max-w-7xl mx-auto px-6 xl:px-0 py-12" id="contacto">
  <h2 class="text-orange-600 text-3xl md:text-4xl text-center mb-4">Contacto</h2>
  <form action="" method="post" class="flex flex-col gap-3">
    <div class="flex flex-col md:flex-row gap-3">
      <input class="bg-[#231A31] rounded-md text-white w-full border-orange-600 py-3 px-4" type="text" name="nombre" id="nombre" aria-label="Nombre" placeholder="Nombre y apellido">
      <input class="bg-[#231A31] rounded-md text-white w-full border-orange-600 py-3 px-4" type="text" name="apellido" id="apellido" aria-label="Apellido" placeholder="Apellido">
    </div>
    <div class="flex flex-col md:flex-row gap-3">
      <input class="bg-[#231A31] rounded-md text-white w-full border-orange-600 py-3 px-4" type="email" name="email" id="email" aria-label="Email" placeholder="Email">
      <input class="bg-[#231A31] rounded-md text-white w-full border-orange-600 py-3 px-4" type="text" name="rubro" id="rubro" aria-label="Rubro en la que necesito el sitio web" placeholder="Rubro en la que necesito sitio web">
    </div>
    <textarea class="bg-[#231A31] text-white rounded-md basis-full border-orange-600 py-3 px-4" name="mensaje" id="mensaje" placeholder="Mensaje"></textarea>
    <input class="bg-orange-600 hover:bg-orange-700 text-white text-xl cursor-pointer rounded-md mx-auto py-2 px-10" type="submit" value="Enviar">
  </form>
</div>

<style>
  h2 {
    font-family: 'jost-bold';
  }
  input {
    font-family: 'jost-regular';
  }
</style>