---
---

<div class="max-w-7xl mx-auto">
  <h2>Contacto</h2>
  <form action="" method="post" class="flex flex-col gap-3">
    <div class="flex flex-col md:flex-row gap-8">
      <input class="bg-[#231A31] rounded-sm py-1 text-white w-full" type="text" name="nombre" id="nombre" aria-label="Nombre" placeholder="Nombre y apellido">
      <input class="bg-[#231A31] rounded-sm py-1 w-full" type="text" name="apellido" id="apellido" aria-label="Apellido" placeholder="Apellido">
    </div>
    <div class="flex flex-col md:flex-row gap-8">
      <input class="bg-[#231A31] rounded-sm py-1 w-full" type="email" name="email" id="email" aria-label="Email" placeholder="Email">
      <input class="bg-[#231A31] rounded-sm py-1 w-full" type="text" name="rubro" id="rubro" aria-label="Rubro en la que necesito sitio web" placeholder="Rubro en la que necesito sitio web">
    </div>
    <textarea class="bg-[#231A31] rounded-sm basis-full" name="mensaje" id="mensaje" placeholder="Mensaje"></textarea>
    <input class="bg-orange-500 rounded-md mx-auto py-2 px-10" type="submit" value="Enviar">
  </form>
</div>

<style>

</style>