---
let isOpen = false;

function toggleMenu() {
  isOpen = !isOpen;
}
---

<header id="header" class="max-w-7xl mx-auto bg-[#231A31] py-2 sticky top-2 z-10 rounded-full px-8 transform transition-all duration-300 ease-in-out">
  <div class="flex justify-between mx-auto">
    <div>
      <img src="/logoHero.png" alt="crisleo dev">
    </div>

    <!-- Botón del menú hamburguesa -->
    <button 
      id="menu-toggle" 
      class="lg:hidden flex items-center text-white poppins-semibold" 
      aria-label="Toggle menu">
      <!-- Icono de menú hamburguesa -->
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
      </svg>
    </button>
    <!-- Opciones del menú -->
    <nav id="mobile-menu" class="hidden poppins-regular lg:block fixed top-14 left-0 right-0 bg-white flex flex-col items-center space-y-2 lg:static lg:bg-transparent lg:flex-row lg:space-y-0">
      <ul class="flex justify-center text-slate-900 dark:text-white">
        <li class="text-xl py-1 px-2"><a href="#hero">Inicio</a></li>
        <li class="text-xl py-1 px-2"><a href="#nosotros">Sobre Nosotros</a></li>
        <li class="text-xl py-1 px-2"><a href="#preguntas">Preguntas</a></li>
        <li class="text-xl py-1 px-2"><a href="#contacto">Contacto</a></li>
      </ul>
    </nav>
  </div>
</header>

<script src='../../public/scripts/header.js'></script>
<style>
  li {
    font-family: 'jost-medium', sans-serif;
  }
</style>
