---
---

<header class="bg-white dark:bg-slate-900">
  <div class="max-w-7xl flex justify-between mx-auto">
    <div>
      <img src="/logo.svg" alt="crisleo dev">
    </div>
    <nav >
      <ul class="flex justify-center text-slate-900 dark:text-white">
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Sobre Nosotros</a></li>
        <li><a href="#">Catálogo</a></li>
        <li><a href="#">Contacto</a></li>
      </ul>
    </nav>
  </div>
</header>


