---
---
<div class="container">
  <img class="absolute left-0" src="/effect-eclipse-rojo.png">
  <img class="absolute right-0" src="/effect-eclipse-naranja.png">
</div>
<div class="flex justify-between max-w-7xl mx-auto">
  <div>
    <h1>Conectando ideas</h1>
    <p>Nuestra meta es que tu sitio web conecte tu marca con la excelencia que necesitas para potenciar  tus ventas</p>
  </div>
  <div>
    <img src="/img-portada.png" alt="" srcset="">
  </div>
</div>