---

---

<div class="relative -top-14 flex justify-center px-6 xl:px-0 h-screen 2xl:h-4/6 bg-vicso-primary" id="hero">
    <div>
        <img class="absolute left-0 select-none" src="/ellipseBody.png" />
        <img class="absolute right-0 select-none -scale-x-100" src="/ellipseBody.png" />
    </div>
    <div class="md:max-w-4xl basis-1/2 flex flex-col gap-2 justify-center text-center 2xl:py-52 pt-20">
        <h1 class="text-white text-4xl md:text-6xl uppercase">Conectando ideas</h1>
        <p class="text-gray-400 text-2xl md:text-4xl leading-7 md:leading-9 font-regular">
            Nuestra meta es que tu sitio web conecte tu marca con la excelencia que necesitas para
            potenciar tus ventas. ¿Estás listo?
        </p>
        <div class="mt-10">
            <button class="bg-vicso-blue hover:bg-blue-700 text-white text-xl cursor-pointer rounded-md mx-auto py-2 px-10">Contactanos</button>
        </div>
    </div>
</div>

<style>
  h1 {
    font-family: "jost-bold";
  }
</style>
