---
interface Props {
  pregunta: string,
  respuesta: string,
  id: string, // Nuevo prop para pasar un id único a cada instancia del componente
}

const { pregunta, respuesta, id } = Astro.props;
---

<div class="flex flex-col bg-vicso-secondary mb-5 rounded-lg py-3 px-2 md:px-8 relative overflow-hidden">
  <input type="checkbox" id={id} class="hidden peer" />
  <label for={id} class="flex justify-between cursor-pointer">
    <p class="text-neutral-100 text-md md:text-xl w-60 sm:w-64 md:w-full">{pregunta}</p>
  </label>
  <img 
    src="/icons/angle-down.png" 
    class="transition-transform duration-500 peer-checked:rotate-180 absolute right-2 md:right-8 top-3 md:top-1"
    alt="Desplegar"
  />
  <span class="text-neutral-200 text-lg peer-checked:mt-2 max-h-0 overflow-hidden opacity-0 transition-all duration-500 peer-checked:max-h-96 peer-checked:opacity-100">{respuesta}</span>
</div>

<style>
  p {
    font-family: 'jost-medium';
  }
  span {
    font-family: 'jost-regular';
  }
</style>
