---
import Logo from "@/icons/Logo.astro"
---

<div class="max-w-7xl mx-auto px-6 xl:px-0 py-12" id="nosotros">
    <h2 class="color-vicso-blue text-3xl md:text-4xl text-center">NOSOTROS</h2>
    <div class="flex flex-row gap-4 items-center pt-3">
        <div class="flex-1">
            <p class="text-white text-xl leading-6">
                Con más de 6 años de experiencia en el desarrollo web, ofrecemos soluciones personalizadas para cada proyecto, 
                asegurando que cada detalle esté alineado con las necesidades y objetivos de nuestros clientes. Nos especializamos 
                en la creación de sitios web únicos, optimizados y escalables, proporcionando una experiencia de usuario fluida y 
                atractiva. Desde pequeñas empresas hasta grandes proyectos, trabajamos de la mano contigo para crear una presencia 
                digital sólida y efectiva que refleje tu visión y valores.
            </p>
            <p class="text-white text-xl leading-6">
                Nuestro enfoque se basa en el compromiso con la calidad y la innovación, utilizando las últimas tecnologías para entregar 
                resultados que destacan en un entorno digital competitivo. Ya sea que necesites un sitio corporativo, una tienda en línea 
                o una plataforma compleja, estamos aquí para hacerlo realidad.
            </p>
        </div>
        <div class="flex-1 justify-items-center hidden md:block">
            <Logo />
        </div>
    </div>
</div>

<style>
    p {
        font-family: 'jost-regular';
    }
</style>