---
import ItemPorfolio from "./ItemPorfolio.astro";

---

<div class="max-w-7xl mx-auto px-6 xl:px-0 py-12" id="porfolio">
    <div class="flex">
        <ItemPorfolio image="../" title="Claudia Paiva" description="Una web para una artista"/>
    </div>
</div>