---
import ItemPreguntas from "@/components/ItemPreguntas.astro";
---

<div class="max-w-7xl mx-auto">
  <h2>Preguntas Frecuentes</h2>
  <ItemPreguntas pregunta="¿Además de este curso debo hacer el cursillo de la Facultad?" respuesta="No es necesario. El cursillo de la Facultad no es obligatorio. En Quantum vemos los contenidos de cero al cien por ciento, con la complejidad justa para aprobar el examen."/>
  <ItemPreguntas pregunta="¿Además de este curso debo hacer el cursillo de la Facultad?" respuesta="No es necesario. El cursillo de la Facultad no es obligatorio. En Quantum vemos los contenidos de cero al cien por ciento, con la complejidad justa para aprobar el examen."/>
  <ItemPreguntas pregunta="¿Además de este curso debo hacer el cursillo de la Facultad?" respuesta="No es necesario. El cursillo de la Facultad no es obligatorio. En Quantum vemos los contenidos de cero al cien por ciento, con la complejidad justa para aprobar el examen."/>
  <ItemPreguntas pregunta="¿Además de este curso debo hacer el cursillo de la Facultad?" respuesta="No es necesario. El cursillo de la Facultad no es obligatorio. En Quantum vemos los contenidos de cero al cien por ciento, con la complejidad justa para aprobar el examen."/>
</div>