---
import ItemPreguntas from "@/components/ItemPreguntas.astro";
---

<div class="max-w-7xl mx-auto px-6 xl:px-0 pt-20" id="preguntas">
  <h2 class="color-vicso-blue text-3xl md:text-4xl text-center mb-4">PREGUNTAS FRECUENTES</h2>
  <ItemPreguntas id="pregunta-1" pregunta="¿Cuánto tiempo llevará desarrollar mi sitio web?" respuesta="El tiempo de desarrollo varía según la complejidad del sitio. Un sitio web básico puede tardar entre 2 a 4 semanas, mientras que proyectos más avanzados pueden requerir de 6 a 12 semanas. Esto incluye tiempo para diseño, desarrollo, pruebas y revisiones."/>
  <ItemPreguntas id="pregunta-2" pregunta="¿Qué necesito proporcionar para comenzar?" respuesta="Para iniciar el proyecto, necesitarás proporcionarnos contenido clave como el logo, textos, imágenes, y cualquier referencia de diseño o funcionalidad que desees en tu sitio. También discutiremos tus objetivos y el público al que deseas llegar."/>
  <ItemPreguntas id="pregunta-3" pregunta="¿El sitio será compatible con dispositivos móviles?" respuesta="Absolutamente. Desarrollamos todos nuestros sitios con un diseño responsivo para que funcionen y se vean bien en cualquier dispositivo, ya sea un teléfono móvil, tablet o computadora de escritorio."/>
  <ItemPreguntas id="pregunta-4" pregunta="¿Incluye la optimización para motores de búsqueda (SEO)?" respuesta="Sí, implementamos prácticas básicas de SEO en todos los sitios, como estructura optimizada, carga rápida y etiquetas meta. Si necesitas un servicio de SEO avanzado, también ofrecemos soluciones adicionales."/>
  <ItemPreguntas id="pregunta-5" pregunta="¿Ofrecen soporte y mantenimiento después del lanzamiento?" respuesta="Sí, contamos con planes de mantenimiento para garantizar que tu sitio se mantenga actualizado, seguro y funcionando correctamente. Esto puede incluir actualizaciones de seguridad, cambios menores o mejoras."/>
  <ItemPreguntas id="pregunta-6" pregunta="¿El sitio será rápido y tendrá un buen rendimiento?" respuesta="Sí, optimizamos todos los sitios para asegurar tiempos de carga rápidos y una experiencia de usuario fluida. Utilizamos técnicas como compresión de imágenes, almacenamiento en caché y optimización de código."/>
</div>

