---
import ItemPreguntas from "@/components/ItemPreguntas.astro";
---

<div class="max-w-7xl mx-auto px-6 xl:px-0 py-12" id="preguntas">
  <h2 class="text-orange-600 text-3xl md:text-4xl text-center mb-4">Preguntas Frecuentes</h2>
  <ItemPreguntas id="pregunta-1" pregunta="¿Además de este curso debo hacer el cursillo de la Facultad?" respuesta="No es necesario. El cursillo de la Facultad no es obligatorio. En Quantum vemos los contenidos de cero al cien por ciento, con la complejidad justa para aprobar el examen."/>
  <ItemPreguntas id="pregunta-2" pregunta="¿Además de este curso debo hacer el cursillo de la Facultad?" respuesta="No es necesario. El cursillo de la Facultad no es obligatorio. En Quantum vemos los contenidos de cero al cien por ciento, con la complejidad justa para aprobar el examen."/>
  <ItemPreguntas id="pregunta-3" pregunta="¿Además de este curso debo hacer el cursillo de la Facultad?" respuesta="No es necesario. El cursillo de la Facultad no es obligatorio. En Quantum vemos los contenidos de cero al cien por ciento, con la complejidad justa para aprobar el examen."/>
  <ItemPreguntas id="pregunta-4" pregunta="¿Además de este curso debo hacer el cursillo de la Facultad?" respuesta="No es necesario. El cursillo de la Facultad no es obligatorio. En Quantum vemos los contenidos de cero al cien por ciento, con la complejidad justa para aprobar el examen."/>
</div>

<style>
  h2 {
    font-family: 'jost-bold';
  }
</style>