---
---

<div class="">
  <div class="flex items-center gap-4">
    <img class="w-24" src="../tapas/lofi.jpg">
    <div class="text-white flex flex-col">
      <span>Snowman</span>
      <span>WYS, Lofi Girl</span>
    </div>
  </div>
  <div></div>
  <div></div>
</div>