---
import IconTime from "@/icons/IconTime.astro"
import IconResposive from "@/icons/iconResposive.astro";    
import IconServer from "@/icons/IconServer.astro";
import IconUx from "@/icons/IconUx.astro";

---

<div class="max-w-7xl mx-auto px-6 xl:px-0 pt-20 flex flex-col items-center bg-vicso-primary" id="soluciones">
    <div class="basis-full md:basis-1/2 flex flex-col items-center max-w-5xl text-center">
        <h2 class="color-vicso-blue text-3xl md:text-4xl">POTENCIA TU VISIBILIDAD</h2>
    </div>

    <div class="pt-3 grid grid-cols-1 md:grid-cols-2 gap-4">
        <div class="rounded-lg py-7 px-4 flex flex-row gap-4 items-center relative overflow-hidden bg-vicso-secondary ">
            <IconTime />
            <div>
                <p class="text-white text-start text-2xl title-item">Respuesta instantanea</p>
                <p class="text-gray-400 text-start text-xl leading-6">Tiempo de respuesta optimizado para acceder a tu sitio web de manera rápida y eficiente</p>
            </div>
        </div>

        <div class="rounded-lg py-7 px-4 flex flex-row gap-4 items-center relative overflow-hidden bg-vicso-secondary">
            <IconServer />
            <div>
                <p class="text-white text-start text-2xl title-item">Hosting y correos personalizados</p>
                <p class="text-gray-400 text-start text-xl leading-6">El mejor hosting para que tu sitio web este siempre en línea y segura. Cuenta con correo corporativos</p>
            </div>
        </div>
        
        <div class="rounded-lg py-7 px-4 flex flex-row gap-4 items-center relative overflow-hidden bg-vicso-secondary">
            <IconUx />
            <div>
                <p class="text-white text-start text-2xl title-item">Diseño UI/UX</p>
                <p class="text-gray-400 text-start text-xl leading-6">Logramos que los diseños sean limpios para lograr una impresión excelente y generar la confianza al potencial cliente</p>
            </div>
        </div>
        <div class="rounded-lg py-7 px-4 flex flex-row gap-4 items-center relative overflow-hidden bg-vicso-secondary">
            <IconResposive />
            <div>
                <p class="text-white text-start text-2xl title-item">Responsive design</p>
                <p class="text-gray-400 text-start text-xl leading-6">Tu sitio adaptable a todos los dispositivos, sea desde un celular, notebook o PC</p>
            </div>
        </div>
    </div>
</div>

<style>
    p {
        font-family: 'jost-regular';
    }
    .title-item {
        font-family: 'jost-bold';
    }
</style>