---
import Seo from "@/components/Seo.astro";
import Header from "@/components/Header.astro"
import Hero from "@/components/Hero.astro";
import Soluciones from "@/components/Soluciones.astro";
import Nosotros from "@/components/Nosotros.astro";
import Preguntas from "@/components/Preguntas.astro";
import Contacto from "@/components/Contacto.astro";
import Footer from "@/components/Footer.astro";

import '../styles/base.css'
import '../styles/fonts.css'
---

<!doctype html>
<html lang="es">
	<Seo title="vicsostudio | Soluciones web" description="Nuestra meta es que tu sitio web conecte tu marca con la excelencia que necesitas para potenciar tus ventas"/>
	<body>
		<!-- Header -->
		<Header />
		
		<!-- Hero -->
		<Hero />

		<!-- Porque elegirnos -->
		<Soluciones />

		<!-- Nosotros -->
		 <Nosotros />

		<!-- Preguntas Frecuentes -->
		<Preguntas />

		<div class="h-96 flex justify-center items-center mensaje-accion">
			<div class="max-w-4xl px-6 xl:px-0">
				<h1 class="text-white text-center text-2xl md:text-4xl uppercase">Impulsa tu presencia online con un sitio web a medida. ¡Contáctanos hoy y lleva tu negocio al siguiente nivel!</h1>
			</div>
		</div>
		<!-- Formulario de contacto -->
		<Contacto />
		<!-- Footer -->
		<Footer />
		<slot />
	</body>
</html>

<style is:global>
	html {
		font-family: system-ui, sans-serif;
		scroll-behavior: smooth;
	}
	body {
		background-color: #20222B;
		--sb-track-color: #232E33;
		--sb-thumb-color: #3271F8;
		--sb-size: 14px;
	}

	body::-webkit-scrollbar {
		width: var(--sb-size);
	}

	body::-webkit-scrollbar-track {
		background: var(--sb-track-color);
		border-radius: 3px;
	}

	body::-webkit-scrollbar-thumb {
		background: var(--sb-thumb-color);
		border-radius: 3px;
	}

	@supports not selector(::-webkit-scrollbar) {
		body {
			scrollbar-color: var(--sb-thumb-color)
											var(--sb-track-color);
		}
	}
	h1, h2 {
    	font-family: 'jost-bold';
  	}
	.mensaje-accion {
		background-color: #3271F8;
	}
	.bg-vicso-primary {
        background-color: #20222B;
    }
	.bg-vicso-secondary {
        background-color: #272A34;
    }
	.bg-vicso-blue {
        background-color: #3271F8;
    }
	.color-vicso-blue {
		color: #3271F8;
	}
</style>
