---
import Seo from "@/components/Seo.astro";
import Header from "@/components/Header.astro"
import Hero from "@/components/Hero.astro";
import Nosotros from "@/components/Nosotros.astro";
import Preguntas from "@/components/Preguntas.astro";
import Contacto from "@/components/Contacto.astro";
import Footer from "@/components/Footer.astro";

import '../styles/base.css'
import '../styles/fonts.css'
---

<!doctype html>
<html lang="es">
	<Seo title="crisleodev | Soluciones web" description="Nuestra meta es que tu sitio web conecte tu marca con la excelencia que necesitas para potenciar  tus ventas"/>
	<body>
		<!-- Header -->
		<Header />
		<!-- Hero -->
		<Hero />
		<!-- Porque elegirnos -->
		<Nosotros />
		<!-- Preguntas Frecuentes -->
		<Preguntas />
		<!-- Formulario de contacto -->
		<Contacto />
		<!-- Footer -->
		<Footer />
		<slot />
	</body>
</html>

<style is:global>
	html {
		font-family: system-ui, sans-serif;
		background-color: #0E0B13;
	}
</style>
